/* @override http://log.dev/css/toto-pomodoro.css */

body {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a {
  color: #555555;
}

article.post header {
    margin-bottom: 15px;
}

ul li {
    list-style-type: circle;
}

ol li {
    list-style-type: decimal;
}

pre {
    overflow: auto;
    font-size: 0.7em;
}

footer {
  float: right;
  margin-top: 5em;
  margin-bottom: 1em;
}

section#archives {
  margin-top: 150px;
}

nav {
  margin-bottom: 40px;
  text-align: center;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: darkgray;
  margin-right: 10px;
  font-size: 24px;
}

h1 span.pomodoros {
  color: red;
  font-weight: bolder;
}

h1 span.pomodoros.badge {
  color: white;
  font-weight: bolder;
}

span.badge {
  display: inline-block;
  margin-left: 8px;
}

.badge {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    min-width: 28px;
    padding: 6px;
    
    background: red;
    border: 2px solid red;
    color: red;
    text-align: center;
    
    font: 24px Arial, sans-serif
}

ul.pomodoro-labels {
  margin: 0;
  padding: 0;
}

header ul.pomodoro-labels {
  text-align: right;
  margin-right: 30px;
}

.pomodoro-labels li {
  background-color: #eaeaea;
  display: inline;
  
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);

  text-align: center;
  font-size: 14px;
  padding: 4px 8px;
}

.pomodoro-labels li a {
  color: black;
  text-decoration: none;
}

body.stats {
  width: 960px; 
}

div.chart {
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

div.chart.tall {
  height: 650px;
}

div.chart.short {
  height: 250px;
}

