<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/coderay.css">
    <link rel="stylesheet" type="text/css" href="/css/toto-pomodoro.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <script src="/js/highcharts.js" type="text/javascript"></script>
  </head>
  <body>
    <section>
      <a href="/">Home</a>
      <a href="/stats">Stats</a>
    </section>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

